<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
 
<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!--Image, Latest News and Facts Table-->
    <div class='row'>
        <div class='col-md-7'>
            <h2 class='heading'>Featured Mars Image</h2>
            <img class='img-responsive' src='{{mars_data.feat_img_url}}'/>
            <br/>
        </div>
        <div class='col-md-5'>
          <h2 class='heading'>Latest Mars News</h2>
          <h4>{{mars_data.news_t}}</h4>
          <p>{{mars_data.news_p}}</p>
          <br/>
          <h3 class='heading'>Mars Facts</h3>
          {{mars_data.mars_facts_table | safe}}
        </div>
    </div>

    <!--Hemisphere Images-->
    <div class='row'>
        <div class='col-md-12'>
            <h2 class='heading'>Mars Hemispheres</h2>
            <hr/>
        {% for img in mars_data.hemi_img_urls %}
        <div class='col-lg-3'>
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <img class='card-img-top img-responsive' src='{{img.img_url}}'/>
              <h4 class="card-title">{{ img.title }}</h4>
            </div>
          </div>
        </div>
        {% endfor %}  
        </div>
    </div>
  </div>
</body>

</html>